.page-responsive{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  background-color: #333;
  padding: 5vh;

  main{
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 747px;
    padding: 20px;
    background-color: rgb(206, 206, 206);
    align-items: stretch;
    text-align: center;

    h3{
      margin-bottom: 20px;
    }

    form{
      input{
        height:50px;
        border-radius:8px;
        padding: 0 16px;
        display: block;
        width: 100%;
        background: #fff;
        border: 1px solid #a8a8b3;
        margin-bottom: 10px;
      }

      .list-buttons{
        margin-top: 20px;

        button{
          padding: 10px 20px;
          border-radius: 10px;
          background-color: #fff;
          border: 2px solid rgb(0, 0, 0);
          color: #000;
          font-weight: bold;
          cursor: pointer;
          transition-duration: 0.5s;
          margin: 0 5px;
          
  
          &.gravar:hover{
            background-color: rgb(2, 158, 151);
            color: #fff;
            border: 2px solid #fff;
          }
          &.excluir:hover{
            background-color: rgb(158, 25, 2);
            color: #fff;
            border: 2px solid #fff;
          }
          &.buscar:hover{
            background-color: rgb(2, 158, 59);
            color: #fff;
            border: 2px solid #fff;
          }
          &.atualizar:hover{
            background-color: rgb(2, 77, 158);
            color: #fff;
            border: 2px solid #fff;
          }
          &:disabled{
            cursor: progress;
            background-color: rgb(179, 179, 179);
            color: rgb(61, 61, 61);
            border: 2px solid rgb(61, 61, 61);
          }
          &:disabled:hover{
            background-color: rgb(179, 179, 179);
            color: rgb(61, 61, 61);
            border: 2px solid rgb(61, 61, 61);
          }
        }
      }
    }
  }
}

