.button{
  height: 50px;
  border-radius: 8px;
  font-weight: bold;
  background: #008724;
  color: #fff;
  padding: 0 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: 0.3s;

  img{
    margin-right: 8px;
  }

  &.outlined{
    background: #FFFFFF;
    border: 1px solid #008724;
    color: #008724;
  }

  &:not(:disabled):hover{
    filter:brightness(0.9)
  }

  &:disabled{
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:hover{
    background: #00631a;
    transition: 0.3s;
  }
}